/* ==========================================================================
   #DECISION BOX
   ========================================================================== */

.c-operator-icon {
  background-image: url("/assets/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.c-operator-icon--ash {
  width: 125px;
  height: 125px;
  background-position: -5px -5px;
}

.c-operator-icon--bandit {
  width: 125px;
  height: 125px;
  background-position: -140px -5px;
}

.c-operator-icon--blackbeard {
  width: 125px;
  height: 125px;
  background-position: -275px -5px;
}

.c-operator-icon--blitz {
  width: 125px;
  height: 125px;
  background-position: -410px -5px;
}

.c-operator-icon--buck {
  width: 125px;
  height: 125px;
  background-position: -545px -5px;
}

.c-operator-icon--capitao {
  width: 125px;
  height: 125px;
  background-position: -5px -140px;
}

.c-operator-icon--castle {
  width: 125px;
  height: 125px;
  background-position: -140px -140px;
}

.c-operator-icon--caveira {
  width: 125px;
  height: 125px;
  background-position: -275px -140px;
}

.c-operator-icon--doc {
  width: 125px;
  height: 125px;
  background-position: -410px -140px;
}

.c-operator-icon--echo {
  width: 125px;
  height: 125px;
  background-position: -545px -140px;
}

.c-operator-icon--frost {
  width: 125px;
  height: 125px;
  background-position: -5px -275px;
}

.c-operator-icon--fuze {
  width: 125px;
  height: 125px;
  background-position: -140px -275px;
}

.c-operator-icon--glaz {
  width: 125px;
  height: 125px;
  background-position: -275px -275px;
}

.c-operator-icon--hibana {
  width: 125px;
  height: 125px;
  background-position: -410px -275px;
}

.c-operator-icon--iq {
  width: 125px;
  height: 125px;
  background-position: -545px -275px;
}

.c-operator-icon--jackal {
  width: 125px;
  height: 125px;
  background-position: -5px -410px;
}

.c-operator-icon--jager {
  width: 125px;
  height: 125px;
  background-position: -140px -410px;
}

.c-operator-icon--kapkan {
  width: 125px;
  height: 125px;
  background-position: -275px -410px;
}

.c-operator-icon--mira {
  width: 125px;
  height: 125px;
  background-position: -410px -410px;
}

.c-operator-icon--montagne {
  width: 125px;
  height: 125px;
  background-position: -545px -410px;
}

.c-operator-icon--mute {
  width: 125px;
  height: 125px;
  background-position: -5px -545px;
}

.c-operator-icon--pulse {
  width: 125px;
  height: 125px;
  background-position: -140px -545px;
}

.c-operator-icon--recruit {
  width: 125px;
  height: 125px;
  background-position: -275px -545px;
}

.c-operator-icon--rook {
  width: 125px;
  height: 125px;
  background-position: -410px -545px;
}

.c-operator-icon--sledge {
  width: 125px;
  height: 125px;
  background-position: -545px -545px;
}

.c-operator-icon--smoke {
  width: 125px;
  height: 125px;
  background-position: -680px -5px;
}

.c-operator-icon--tachanka {
  width: 125px;
  height: 125px;
  background-position: -680px -140px;
}

.c-operator-icon--thatcher {
  width: 125px;
  height: 125px;
  background-position: -680px -275px;
}

.c-operator-icon--thermite {
  width: 125px;
  height: 125px;
  background-position: -680px -410px;
}

.c-operator-icon--twitch {
  width: 125px;
  height: 125px;
  background-position: -680px -545px;
}

.c-operator-icon--valkyrie {
  width: 125px;
  height: 125px;
  background-position: -5px -680px;
}
