# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = false

# 2 space indentation for sass
[app/**.scss]
indent_style = space
indent_size = 2

# 2 space indentation for json
[*/**/**.json]
indent_style = space
indent_size = 2

# 4 space indentation for typescript
[app/**.ts]
indent_style = space
indent_size = 4

# 4 space indentation for html
[*.html]
indent_style = space
indent_size = 4