/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

body {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", "Roboto", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}