/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  padding: 0 0.375rem;
}

.o-grid--center-horizontal {
  justify-content: center;
}

.o-grid--center-vertical {
  align-items: center;
  align-content: center;
}

.o-grid--inside {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.o-grid__item {
  width: 100%;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}